/* Coolors Exported Palette - https://coolors.co/ebf2fa-679436-6f7d8c-011936-f44174 */

/* CSS HEX */
--alice-blue: #ebf2faff;
--sage-green: #679436ff;
--slate-grey: #6f7d8cff;
--prussian-blue: #011936ff;
--wild-strawberry: #f44174ff;

/* CSS HSL */
--alice-blue: hsla(212, 60%, 95%, 1);
--sage-green: hsla(89, 47%, 40%, 1);
--slate-grey: hsla(211, 12%, 49%, 1);
--prussian-blue: hsla(213, 96%, 11%, 1);
--wild-strawberry: hsla(343, 89%, 61%, 1);

/* SCSS HEX */
$alice-blue: #ebf2faff;
$sage-green: #679436ff;
$slate-grey: #6f7d8cff;
$prussian-blue: #011936ff;
$wild-strawberry: #f44174ff;

/* SCSS HSL */
$alice-blue: hsla(212, 60%, 95%, 1);
$sage-green: hsla(89, 47%, 40%, 1);
$slate-grey: hsla(211, 12%, 49%, 1);
$prussian-blue: hsla(213, 96%, 11%, 1);
$wild-strawberry: hsla(343, 89%, 61%, 1);

/* SCSS RGB */
$alice-blue: rgba(235, 242, 250, 1);
$sage-green: rgba(103, 148, 54, 1);
$slate-grey: rgba(111, 125, 140, 1);
$prussian-blue: rgba(1, 25, 54, 1);
$wild-strawberry: rgba(244, 65, 116, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-right: linear-gradient(90deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-bottom: linear-gradient(180deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-left: linear-gradient(270deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-top-right: linear-gradient(45deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-bottom-right: linear-gradient(135deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-top-left: linear-gradient(225deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-bottom-left: linear-gradient(315deg, #ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);
$gradient-radial: radial-gradient(#ebf2faff, #679436ff, #6f7d8cff, #011936ff, #f44174ff);